.header {
   background-color: #282c34;
   min-height: 10vh;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   color: #ffffff;
   user-select: none;

   &__logo {
      height: 20vmin;
      pointer-events: none;
      user-select: none;
   }
}